<div class="container-fluid">
  <div class="row index-container">

    <div class="col-md-6 index-text">
      <div class="index--title">
        <h1>Javascript nivel inicial</h1>
        <p>Aprende javascript desde nivel principiante a nivel intermedio a través de nuestra herramienta de ejecución de código en tiempo real</p>
      </div>
    </div>

    <div class="col-md-6 index__image">
        <img src="https://www.split.io/wp-content/uploads/2020/03/javascript-logo.png" alt="">       
    </div>

  </div>


  <div class="row index-middle">
    <h2>¿Qué temas incluye nuestra herramienta?</h2>
    <div class="col-md-4 index-middle-img">
      <img src="https://sites.google.com/site/nuevastecnologiasequipo3/_/rsrc/1465655111117/home/temario/TEMARIO.png?height=200&width=200" alt="">
    </div>
    <div class="col-md-8 index-modules">
      <div>
        <h3>Modulo 1: Objetos y Arrays</h3>
        <p>Avanzarás hacia la comprensión de la programación orientada a Objetos, identificando su utilidad y potencialidad. A la vez, aprenderás a codificar recorridos, búsquedas y filtros con Arrays. Por último, trabajarás con abstracciones y funciones de alto orden.</p>
      </div>

      <div>
        <h3>Modulo 2: Frontend</h3>
        <p>En este módulo el foco estará en la programación Frontend. Podrás introducirte al Document Object Model (DOM) y sus principales funcionalidades. Aprenderás a definir los Eventos más utilizados en aplicaciones web y codificar manejadores. También, reconocerás la manera en que pueden almacenarse datos en el navegador y aprenderás a codificar las instrucciones necesarias sobre el Storage.</p>
      </div>

      <div>
        <h3>Modulo 3: Optimización del proyecto</h3>
        <p>Este es el momento de optimizar tu Proyecto Final y los procesos que necesita. Contarás con herramientas para simplificarlos tales como Operadores Avanzados y algunas de las Librerías más conocidas y utilizadas.</p>
      </div>

      <div>
        <h3>Modulo 4: Asincronía y peticiones</h3>
        <p>Es el último módulo del curso que te permitirá brindarle a tu proyecto un plus de calidad. Trabajarás con Promesas, Asincronía, AJAX y Fetch. Hacia el final, te invitaremos a conocer posibles caminos luego de tu formación en Javascript: Frameworks, qué son y cuáles son los protagonistas en el mercado actual.</p>
      </div>
    </div>
  </div>

  <div class="row index-middle">
      <h2>¿Para quiénes está dirigido este software?</h2>
    <div class="col-md-6">
      <div>
        <div>
          <p>Personas que deseen adentrarse más en el mundo de la programación</p>
        </div>
        <div>
          <p>Puedan dedicarle 6 horas semanales durante 4 meses</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <div>
          <p>Personas que tengan 16 años o más</p>
        </div>
        <div>
          <p>Sueñas con cambiar a un empleo tech y trabajar donde quieras</p>
        </div>
      </div>
  </div>

  </div>
</div>

