<div>
    <div style="text-align:center;">
      <div style="margin:20px;"> <h2  style="width:200px" type="text" class="btn btn-primary btn-lg">Selecciona Tu Rol</h2></div>
      <div style="margin:20px"><button style="width:200px" type="button" class="btn btn-primary btn-lg">Profesor </button></div>
      <div style="margin:20px" ><button style="width:200px"type="button" class="btn btn-primary btn-lg">Estudiante</button></div>
    </div>

    <div style="text-align:center;">
      <img src="https://wallpapersmug.com/download/1920x1080/2197f3/programming-code-colorful.jpg" style="width:260px"alt="">
      <img src="https://wallpapersmug.com/download/1920x1080/2197f3/programming-code-colorful.jpg" style="width:260px"alt="">
      <img src="https://wallpapersmug.com/download/1920x1080/2197f3/programming-code-colorful.jpg" style="width:260px"alt="">
    </div> 
    
</div>

